<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>学习布局</title>
</head>
<link rel="stylesheet" type="text/css" href="css/layout.css">
<body>
	<!-- header -->
	<header id="header" class="header">
		<div class="center">
			<div class="logo">
				<p>Logo</p>
			</div>
			<ul>
				<li><a href="#">Github</a></li>
				<li><a href="#">Register</a></li>
				<li><a href="#">Login</a></li>
			</ul>
		</div>
	</header>
	<!-- banner -->
	<div class="banner">
		<div class="center">
			<div class="image">
				<img src="" alt="">
			</div>
			<div class="count">
				<ul>
					<li>1</li>
					<li class="active">2</li>
					<li>3</li>
					<li>4</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 导航 -->
	<nav>
		<ul class="center">
			<li class="activeNav">HOME</li>
			<li>PROFILE</li>
			<li>ABOUT</li>
		</ul>
	</nav>
	<!-- 内容 -->
	<main>
		<ul class="center">
			<li>This is content 1</li>
			<li>Maybe content 2</li>
			<li>content 3</li>
			<li>content 4</li>
			<li>content 5</li>
			<li>content 6</li>
			<li>content 7</li>
			<li>content 8</li>
			<li>content 9</li>
			<li>content 10</li>
		</ul>
	</main>
	<!-- footer -->
	<footer>
		<div class="center">
			<p>
				<span><a href="#">© 2018 ife.baidu.com</a></span>
			</p>
		</div>
	</footer>
</body>
</html>